CompileFlags:
    Add:
        - -Wall
        - -Wextra
        - -Wpedantic
        # The presence of compile_flags.txt encourages clangd to interpret these paths relative to workspace root
        - -Ilib/Detours/third_party
        - -Ilib/mewjector/third_party

Diagnostics:
    Includes:
        IgnoreHeader: [cpp/lib/.*]

---

If:
    PathMatch: [.*\.hpp, .*\.cpp]
CompileFlags:
    Add:
        - -std=c++20
        - --language=c++

---

If:
    PathMatch: [translation_extensions/.*]
CompileFlags:
    Add:
        # The presence of compile_flags.txt encourages clangd to interpret these paths relative to workspace root
        - -Itranslation_extensions
        - -DWIN32_LEAN_AND_MEAN
        - -DNOMINMAX

---

If:
    PathMatch: [cosmic_ooze/.*]
CompileFlags:
    Add:
        # The presence of compile_flags.txt encourages clangd to interpret these paths relative to workspace root
        - -Icosmic_ooze
        - -DWIN32_LEAN_AND_MEAN
        - -DNOMINMAX
